.nav-container{
  background: #1d1b1b;
  padding: 20px;
  width: 100% auto;
  color: #fff;
}

.search-input {
}

.bell-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  padding: 10px;
}

.bell {
  color: #200e32;
}

.chat-container {
  left: 78.75%;
  right: 18.94%;
  top: 4.62%;
  bottom: 92.12%;
  background: #FEFBFB;
}

.app-icon {
  color: #fff;
  padding: 4px;
}